$app-width: 2400px;
$app-height: 1296px;

/** Navigation Colors **/
$nav-border-color: #064AAD;
$nav-text-color-1: #22629F;
$nav-text-color-2: #FFFFFF;
$nav-point-1: #E7EDF8;
$nav-point-2: #CDDAEF;
$nav-point-3: #B4C8E8;
$nav-point-4: #9AB5E0;
$nav-point-5: #39A0D9;
$nav-point-6: #3397D4;
$nav-point-7: #2D8FD2;
$nav-point-8: #872249;
